@{
    ViewData["Title"] = "Login Page";
}

<form method="POST" action=>
    <div class="labe" >
        <label for=""></label>
        <input class="text" type="text" name="Email" placeholder="  E-mail" required>
    </div>

    <div class="labe">
        <label for=""></label>
        <input class="text" type="password" name="Senha" placeholder="  Senha" required>
    </div>

    <button class="botao" type="submit">Entrar</button>                                
</form>